div{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}
button{
    width: 120px;
    height: 40px;
    outline: none;
    border: none;
    background-color: greenyellow;
    cursor: pointer;
}
button:hover{
    background-color: green;
}
img{
    width: 200px;
    border-radius: 50%;
}